<!DOCTYPE HTML>
<html>
<head>
  <title>CryptoBalance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/index.css">

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/smoothie/1.27.0/smoothie.js"></script>
  <script type="text/javascript" charset="utf-8">
      function fitToContainer(canvas){
        // Make it visually fill the positioned parent
        canvas.style.width ='100%';
        canvas.style.height='100%';
        // ...then set the internal size to match
        canvas.width  = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
      }
    $(document).ready(function(){
      namespace = '/state';
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      function myYRangeFunction(range) {
        var min = range.min - 3;
        var max = range.max + 3;
        return {min: min, max: max};
      }

      var total_values = new TimeSeries();
      var total_value_chart = new SmoothieChart({millisPerPixel:100,tooltip:true,yRangeFunction:myYRangeFunction});
      total_value_cv = document.getElementById('current_total_value');
      fitToContainer(total_value_cv);
      total_value_chart.addTimeSeries(total_values, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 2 });
      total_value_chart.streamTo(total_value_cv, 500);

      var roi_values = new TimeSeries();
      var roi_chart = new SmoothieChart({millisPerPixel:100,tooltip:true,yRangeFunction:myYRangeFunction});
      roi_cv = document.getElementById('roi_value');
      fitToContainer(roi_cv);
      roi_chart.addTimeSeries(roi_values, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 2 });
      roi_chart.streamTo(roi_cv, 500);

      colors = ["#041027", "#14294F","#324A76","#5B729C", "#9AACCF"];

      // And for a doughnut chart
      data = {
          datasets: [{
              data: [],
              backgroundColor: colors,
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: []
      };
      ctx = $('#doughnut');
      myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    label: function (t, e) {
                      var value = e.datasets[0].data[t.index];
                      return e.labels[t.index] + ': $' + value;
                    }
                }
            },
          }
      });

      socket.on('state_update', function(msg) {
          $('#loading').text('');
          $('#total_amount_invested').text(msg.data["total_amount_invested"]);
          $('#total_current_value').text(msg.data["total_current_value"]);
          $('#total_current_value_2').text(msg.data["total_current_value"]);
          $('#balance').text('(' + msg.data["balance"] + ')');
          $('#balance_2').text(msg.data["balance"]);
          $('#roi').text(msg.data["roi"]);
          $('#roi_2').text(msg.data["roi"]);

          portfolio_data = msg.data["product_values"];
          myDoughnutChart.data.labels = portfolio_data["labels"];
          myDoughnutChart.data.datasets[0].data = portfolio_data["data"];
          myDoughnutChart.update();

          var total_current_value = parseFloat(msg.data["total_current_value"].substring(1));
          total_values.append(new Date().getTime(), total_current_value);

          var roi_value = parseFloat(msg.data["roi"].substring(0, msg.data["roi"].length -1));
          roi_values.append(new Date().getTime(), roi_value);

          isRed = roi_value < 0;
          if (isRed) {
            $('#balance').css('color', 'red');
            $('#roi').css('color', 'red');
            roi_chart["seriesSet"][0]["options"]["strokeStyle"] = "rgb(255,0,0,1)";
            roi_chart["seriesSet"][0]["options"]["fillStyle"] = "rgb(255,0,0,0.2)";

            total_value_chart["seriesSet"][0]["options"]["strokeStyle"] = "rgb(255,0,0,1)";
            total_value_chart["seriesSet"][0]["options"]["fillStyle"] = "rgb(255,0,0,0.2)";
          } else {
            $('#balance').css('color', 'green');
            $('#roi').css('color', 'green');
          }
      });
    });
  </script>
</head>
<body>
  <div class="container">
    <h1>CryptoBalance</h1>
    <div class="row p-1">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Portfolio</h6>
            <div class="row">
              <div class="col-6">
                <h5>Holdings</h5>
                <canvas id="doughnut" height="100"></canvas>
              </div>
              <div class="col-6">
                <h5>Investment Summary</h5>
                <table width="300">
                  <tr>
                    <td>Investment</td>
                    <td><span class="badge badge-primary" id="total_amount_invested"></span></td>
                  </tr>
                  <tr>
                    <td>Holdings Value</td>
                    <td><span class="badge badge-danger" id="total_current_value_2"></span></td>
                  </tr>
                  <tr>
                    <td>Balance</td>
                    <td><span class="badge badge-danger" id="balance_2"></span></td>
                  </tr>
                  <tr>
                    <td>ROI</td>
                    <td><span class="badge badge-danger" id="roi_2"></span></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-6 pr-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Value <span class="float-right"><span id="total_current_value"></span> <span id="balance"></span></span></h5>
            <canvas id="current_total_value" height="260"></canvas>
          </div>
        </div>
      </div>
      <div class="col-6 pl-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ROI <span class="float-right"><span id="roi"></span></span></h5>
            <canvas id="roi_value" height="260"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>
</html>
